<form method='post' action='/wishlist/new' class='new-item-form'>
  <input class='input-text' type='text' name='wishlist_item' placeholder="Please enter Item or URL">
  <button class='btn ml-2' type="submit">Add to WishList</button>
</form>

<section class='current_list_container'>
  <h2>Your WishList</h2>
  <% if @wishlist.empty? %>
    <p class='not-available'>No items in your Wishlist</p>
  <% end %>
  <% @wishlist.each do |product| %>
    <article id='<%= product['item_id'] %>' class='wishlist-item-container'>
      <div class='wishlist-item-container-left'> 
          <h2><a href='/wishlist/<%= product['belongs_to'] %>/<%= product['item_id'] %>'>   <%= h(product["title"]) %></a></h2>
        
        <p><%= h(product["description"]) %></p>

      <img id='delete__<%= product['item_id'] %>' class='icon delete' src="/images/trash-can.png" />
      </div>
      <div class='wishlist-item-container-right'>
        <p class='item_price'><%= h(product["price"]) %></p>
        <img class='item_img' src="<%= product["image_url"] %>">
        
    
      </div>
    </article>
  <% end %>
</section>

