<form method='post' action='/wishlist/new' class='new-item-form'>
  <input class='input-text' type='text' name='wishlist_item' placeholder="Please enter Item or URL">
  <button class='btn ml-2' type="submit">Add to WishList</button>
</form>

<section class='current_list_container'>
  <h2>Your WishList</h2>
  <% @wishlist.each do |id, item| %>
    <article id='<%= id %>' class='wishlist-item-container'>
      <div class='wishlist-item-container-left'> 
          <h2><a href='/wishlist/<%= @user[0] %>/<%= id %>'>   <%= h(item[:title]) %></a></h2>
        
        <p><%= h(item[:description]) %></p>

      <img id='delete--<%= id %>' class='icon delete' src="/images/trash-can.png" />
      </div>
      <div class='wishlist-item-container-right'>
        <p class='item_price'><%= h(item[:price]) %></p>
        <img class='item_img' src="<%= item[:image_url] %>">
        
    
      </div>
    </article>
  <% end %>
</section>

